body{
    background-color: rgb(248, 248, 230);
}

header{
    background-color: #6366f1;
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 20;
    top: 0;
}
.head{
    color: white;
    margin: 0 40px;
}
.head:hover{
    cursor: pointer;
    color: bisque;
}
.one{
    margin: 200px 19px 10px 100px;
    width: 500px;
}
.two{
    margin: -285px 10px 10px 620px;
    width: 500px;
    height: 275px;
}
.three{
    margin: 20px 10px 10px 100px;
    width: 500px;
}
.four{
    margin: -290px 10px 10px 620px;
    width: 500px;
    height: 280px;
}
.main{
    margin-left: 200px;
    margin-top: -470px;
}
.option1{
    margin-top: -150px;
    margin-left: 1100px;
    margin-bottom: 80px;
}
.option2{
    margin-top: -1px;
    margin-left: 1100px;
}
#About{
    margin-top: 220px;
}
h3{
    margin-bottom: 10px;
}
#list{
    padding: 10px;
    border-radius: 10px;
    background-color: #6366f1;
    color: white;
}
.choice{
    background-color: white;
    color: black;
    margin-top: 500px;
}
.searchbar{
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px;
    margin-left: 1200px;
    margin-top: 70px
}
button{
    margin-left: 50px;
}
section{
    margin-top: 90px;
}
.work{
    margin-left: 450px;
}
.howitworks{
    margin-top: -90px;
}
.team,.future{
    margin-top: -50px;
}
.feed{
    border: 1px solid darkgrey;
    margin: 100px 500px;
    background-color:rgb(248, 245, 241);
}
.subbtn{
    border: 1px solid darkgray;
    background-color: #6366f1;
    color: white;
}
footer{
    background-color: #6366f1;
    height: 100px;
}
.text{
    color: white;
}
.top {
    text-decoration: none;
    padding: 15px;
    font-family: sans-serif;
    color: #fff;
    background: #000;
    border-radius: 10px;
    position: relative;
    left: 1700px;
    bottom: 170px;
  }
